/*
html {
  font-size: 20px;
}
@media (max-width: 900px) {
  html { font-size: 17px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}
*/

/* 
    Forces display of vertical scroll bar even when it's not needed, so Publications
    displays the same way as no-scroll (short) pages
 */
html { overflow-y: scroll; } 

.title {
	color: #800000;
	color: black;
	font-size: 18px;
	font-weight: 500;
}

/* Suppress Bootstrap 'brand', which would otherwise print 'Kasia Bryc' in navbar */
.navbar-brand { display: none; }

/* Hyperlink color, overrides salmon color in Bootstrap theme */
a { color: #990000; }

/* Impose a margin around headshot */
#kasia-image { margin-left: 25px; }

/* Formatting for publications */
div.citation { margin: 1rem 0 1rem 6.5rem; }
.citation ul { display: block; list-style-type: none; margin: 0; padding: 0; line-height: 1.3em; }
.citation li { display: inline; }
.citation .authors li:after { content: ", "; }
.citation .authors li:last-child:after { content: "."; }
.citation ul.authors { margin: 0.2rem 0 0.2rem 0; }
.citation li.journal:after { content: ". "; }
.citation .abstract .content { display: none; line-height: 1.3em; }