<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>{{ site.title }} | {{ page.title }}</title>
    {% if page.description %}
        <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.2.0+2/{{ site.JB.theme }}/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
  
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <!-- ugly hack, index.html should decide its own URL like the other pages -->
            {% if page.url == '/index.html' %}
            <li class="active"><a class="active" href="/">Home</a></li>
            {% else %}
            <li><a href="/">Home</a></li>
            {% endif %}
            {% assign pages_list = site.collections.pages.docs + site.pages | sort: 'order' %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {{ content }}
      <hr>
      <footer>
        <p>
          &copy; 2008-{{ site.time | date: '%Y' }} {{ site.author.name }}
        </p>
      </footer>
    </div>

    {% include JB/analytics %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Expand/Collapse JS applies only to publication abstracts -->
    <script type='text/javascript'> 
        $(document).ready(function(){

            $('.toggle').click(function() {

                  var $arrow = $(this).find('.glyphicon');
          
                  $(this).parent().next().slideToggle('fast', function() {
                    if ($(this).is(':visible')) {
                        $arrow.removeClass('glyphicon-chevron-down');
                        $arrow.addClass('glyphicon-chevron-up');
                    } else {
                        $arrow.addClass('glyphicon-chevron-down');
                        $arrow.removeClass('glyphicon-chevron-up');
                    }
                  } );
          
                  return false;
            } );
        } );
    </script>
  </body>
</html>
